:root {
  --default-font: Lexend Deca "Helvetica Neue", Arial, "Noto Sans",
    "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
  --heading-font: Lexend Deca;
  --nav-font: "Lato", sans-serif;
}

/* Global Colors */
:root {
  --background-color: #ffffff;
  --background-color-rgb: 255, 255, 255;
  --default-color: #f5f5f5;
  --default-color-rgb: 33, 37, 41;
  --primary-color: #5468e780;
  --primary-color-rgb: 232, 69, 69;
  --secondary-color: #232340;
  --tertiary-color: #5468e7;
  --secondary-color-rgb: 50, 53, 58;
  --contrast-color: #ffffff;
  --contrast-color-rgb: 255, 255, 255;
}

/* Nav Menu Colors */
:root {
  --nav-color: #3a3939;
  --nav-hover-color: #5468e780;
  --nav-dropdown-color: #3a3939;
  --nav-dropdown-hover-color: #5468e780;
  --nav-dropdown-background-color: #ffffff;
  --nav-mobile-background-color: #ffffff;
}

/* Smooth scroll */
:root {
  scroll-behavior: smooth;
}

/*--------------------------------------------------------------
  # General
  --------------------------------------------------------------*/
body {
  color: var(--default-color);
  background-color: var(--background-color);
  font-family: var(--default-font);
}

a {
  color: var(--primary-color);
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  color: rgba(var(--primary-color-rgb), 0.7);
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--secondary-color);
  font-family: var(--heading-font);
}

.title {
  font-size: 50px;
  font-family: Lexend Deca;
  font-weight: 600;
  line-height: 50px;
  color: var(--secondary-color);
}

.isi {
  color: rgba(35, 35, 64, 0.9);
  font-family: Lexend Deca;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px; /* 150% */
}

@media (max-width: 1200px) {
  .title {
    font-size: 31px;
  }

  .isi {
    font-size: 16px;
  }
}

section {
  color: var(--default-color);
  background-color: var(--background-color);
  padding: 60px 0;
  overflow: clip;
}

/*--------------------------------------------------------------
  # Global Header
  --------------------------------------------------------------*/
.header {
  --background-color: #ffffff;
  color: var(--default-color);
  background-color: var(--background-color);
  padding: 15px 0;
  transition: all 0.5s;
  z-index: 997;
}

.header .logo h1 {
  font-size: 50px;
  font-family: Lexend Deca;
  font-weight: 600;
  line-height: 50px;
  word-wrap: break-word;
  padding-left: 60px;
  color: var(--secondary-color);
}

.header .logo span {
  color: var(--primary-color);
  font-size: 51px;
  font-weight: 600;
  padding-left: 3px;
}

.header .btn-getstarted,
.header .btn-getstarted:focus {
  color: var(--contrast-color);
  background: var(--primary-color);
  font-size: 14px;
  padding: 8px 26px;
  margin: 0;
  border-radius: 4px;
  transition: 0.3s;
}

.header .btn-getstarted:hover,
.header .btn-getstarted:focus:hover {
  color: #5468e780;
  background: white;
}
.header .btn-getstarted:focus:active {
  color: white;
}

@media (max-width: 1200px) {
  .header .logo {
    order: 1;
  }

  .header .btn-getstarted {
    order: 2;
    margin: 0 15px 0 0;
    padding: 6px 20px;
  }

  .header .logo h1 {
    font-size: 24px;
    padding-left: 0px;
    font-weight: 600;
    color: var(--secondary-color);
  }

  .header .navmenu {
    order: 3;
  }
}

/* Global Header on page scroll
  ------------------------------*/
.scrolled .header {
  --background-color: #ffffff;
  --secondary-color: #444444;
  --nav-color: #444444;
  --nav-hover-color: #5468e780;
  box-shadow: 0 0 30px 10px rgba(0, 0, 0, 0.1);
}

/* Global Scroll Margin Top
  ------------------------------*/
section {
  scroll-margin-top: 90px;
}

@media (max-width: 1199px) {
  section {
    scroll-margin-top: 66px;
  }
}

/* Home Page Custom Header
  ------------------------------*/
.index-page .header {
  --background-color: rgba(255, 255, 255, 0);
  --secondary-color: #ffffff;
  --nav-color: rgba(255, 255, 255, 0.515);
  --nav-hover-color: #5468e780;
}

/* Home Page Custom Header on page scroll
  ------------------------------*/
.index-page.scrolled .header {
  --background-color: #ffffff;
  --secondary-color: #444444;
  --nav-color: #444444;
  --nav-hover-color: #5468e780;
}

/*--------------------------------------------------------------
  # Navigation Menu
  --------------------------------------------------------------*/
/* Desktop Navigation */
@media (min-width: 1200px) {
  .navmenu {
    padding: 0;
    margin-right: 100px;
  }

  .navmenu ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
  }

  .navmenu li {
    position: relative;
  }

  .navmenu a,
  .navmenu a:focus {
    text-decoration: underline;
    color: var(--nav-color);
    padding: 18px 15px;
    font-size: 16px;
    font-family: var(--nav-font);
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: space-between;
    white-space: nowrap;
    transition: 0.3s;
  }

  .navmenu a i,
  .navmenu a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
    transition: 0.3s;
  }

  .navmenu li:last-child a {
    padding-right: 0;
  }

  .navmenu li:hover > a,
  .navmenu .active,
  .navmenu .active:focus {
    color: #5468e780;
    text-decoration: underline;
  }

  .navmenu .dropdown ul {
    margin: 0;
    padding: 10px 0;
    background: var(--nav-dropdown-background-color);
    display: block;
    position: absolute;
    visibility: hidden;
    left: 14px;
    top: 130%;
    opacity: 0;
    transition: 0.3s;
    border-radius: 4px;
    z-index: 99;
  }

  .navmenu .dropdown ul li {
    min-width: 200px;
  }

  .navmenu .dropdown ul a {
    padding: 10px 20px;
    font-size: 15px;
    text-transform: none;
    color: var(--nav-dropdown-color);
  }

  .navmenu .dropdown ul a i {
    font-size: 12px;
  }

  .navmenu .dropdown ul a:hover,
  .navmenu .dropdown ul .active:hover,
  .navmenu .dropdown ul li:hover > a {
    color: var(--nav-dropdown-hover-color);
  }

  .navmenu .dropdown:hover > ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
  }

  .navmenu .dropdown .dropdown ul {
    top: 0;
    left: -90%;
    visibility: hidden;
  }

  .navmenu .dropdown .dropdown:hover > ul {
    opacity: 1;
    top: 0;
    left: -100%;
    visibility: visible;
  }

  .navmenu .megamenu {
    position: static;
  }

  .navmenu .megamenu ul {
    margin: 0;
    padding: 10px;
    background: var(--nav-dropdown-background-color);
    box-shadow: 0px 0px 20px rgba(var(--default-color-rgb), 0.1);
    display: block;
    position: absolute;
    top: 130%;
    left: 0;
    right: 0;
    visibility: hidden;
    opacity: 0;
    display: flex;
    transition: 0.3s;
    border-radius: 4px;
    z-index: 99;
  }

  .navmenu .megamenu ul li {
    flex: 1;
  }

  .navmenu .megamenu ul li a,
  .navmenu .megamenu ul li:hover > a {
    padding: 10px 20px;
    font-size: 15px;
    color: var(--nav-dropdown-color);
  }

  .navmenu .megamenu ul li a:hover,
  .navmenu .megamenu ul li .active,
  .navmenu .megamenu ul li .active:hover {
    color: var(--nav-dropdown-hover-color);
  }

  .navmenu .megamenu:hover > ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
  }

  .navmenu .dd-box-shadow {
    box-shadow: 0px 0px 30px rgba(var(--default-color-rgb), 0.15);
  }
}

/* Mobile Navigation */
@media (max-width: 1199px) {
  .mobile-nav-toggle {
    color: var(--nav-color);
    font-size: 28px;
    line-height: 0;
    margin-right: 10px;
    cursor: pointer;
    transition: color 0.3s;
  }

  .navmenu {
    padding: 0;
    z-index: 9997;
  }

  .navmenu ul {
    display: none;
    position: absolute;
    inset: 60px 20px 20px 20px;
    padding: 10px 0;
    margin: 0;
    border-radius: 6px;
    background-color: var(--nav-mobile-background-color);
    overflow-y: auto;
    transition: 0.3s;
    z-index: 9998;
    box-shadow: 0px 0px 30px rgba(var(--default-color-rgb), 0.1);
  }

  .navmenu a,
  .navmenu a:focus {
    color: var(--nav-dropdown-color);
    padding: 10px 20px;
    font-family: var(--nav-font);
    font-size: 17px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: space-between;
    white-space: nowrap;
    transition: 0.3s;
  }

  .navmenu a i,
  .navmenu a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: 0.3s;
    background-color: rgba(var(--primary-color-rgb), 0.1);
  }

  .navmenu a i:hover,
  .navmenu a:focus i:hover {
    background-color: var(--primary-color);
    color: var(--contrast-color);
  }

  .navmenu a:hover,
  .navmenu .active,
  .navmenu .active:focus {
    color: var(--nav-dropdown-hover-color);
  }

  .navmenu .active i,
  .navmenu .active:focus i {
    background-color: var(--primary-color);
    color: var(--contrast-color);
    transform: rotate(180deg);
  }

  .navmenu .dropdown ul,
  .navmenu .megamenu ul {
    position: static;
    display: none;
    z-index: 99;
    padding: 10px 0;
    margin: 10px 20px;
    background-color: var(--nav-dropdown-background-color);
    transition: all 0.5s ease-in-out;
  }

  .navmenu .dropdown ul ul,
  .navmenu .megamenu ul ul {
    background-color: rgba(33, 37, 41, 0.1);
  }

  .navmenu .dropdown > .dropdown-active,
  .navmenu .megamenu > .dropdown-active {
    display: block;
    background-color: rgba(33, 37, 41, 0.03);
  }

  .mobile-nav-active {
    overflow: hidden;
  }

  .mobile-nav-active .mobile-nav-toggle {
    color: #fff;
    position: absolute;
    font-size: 32px;
    top: 15px;
    right: 15px;
    margin-right: 0;
    z-index: 9999;
  }

  .mobile-nav-active .navmenu {
    position: fixed;
    overflow: hidden;
    inset: 0;
    background: rgba(33, 37, 41, 0.8);
    transition: 0.3s;
  }

  .mobile-nav-active .navmenu > ul {
    display: block;
  }
}

/*--------------------------------------------------------------
  # Scroll Top Button
  --------------------------------------------------------------*/
.scroll-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 99999;
  background-color: var(--primary-color);
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
}

.scroll-top i {
  font-size: 24px;
  color: #ffffff;
  line-height: 0;
}

.scroll-top:hover {
  background-color: var(--tertiary-color);
  color: #ffffff;
}

.scroll-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
  # Preloader
  --------------------------------------------------------------*/
#preloader {
  position: fixed;
  inset: 0;
  z-index: 9999;
  overflow: hidden;
  background-color: var(--background-color);
  transition: all 0.6s ease-out;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#preloader div {
  width: 13px;
  height: 13px;
  background-color: var(--primary-color);
  border-radius: 50%;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
  position: absolute;
  left: 50%;
}

#preloader div:nth-child(1) {
  left: calc(50% + 8px);
  animation: animate-preloader-1 0.6s infinite;
}

#preloader div:nth-child(2) {
  left: calc(50% + 8px);
  animation: animate-preloader-2 0.6s infinite;
}

#preloader div:nth-child(3) {
  left: calc(50% + 32px);
  animation: animate-preloader-2 0.6s infinite;
}

#preloader div:nth-child(4) {
  left: calc(50% + 56px);
  animation: animate-preloader-3 0.6s infinite;
}

@keyframes animate-preloader-1 {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes animate-preloader-3 {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

@keyframes animate-preloader-2 {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(24px, 0);
  }
}

/*--------------------------------------------------------------
  # Disable aos animation delay on mobile devices
  --------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}

/*--------------------------------------------------------------
  # Footer
  --------------------------------------------------------------*/
.footer {
  --background-color: var(--secondary-color);
  color: var(--default-color);
  background-color: var(--background-color);
  font-size: 14px;
  padding-bottom: 50px;
}

.footer .footer-top {
  padding-top: 50px;
  color: var(--default-color);
}

.footer .footer-about .logo {
  line-height: 0;
  margin-bottom: 25px;
}

.footer .footer-about .logo span {
  color: var(--default-color);
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 1px;
  font-family: var(--heading-font);
}

.footer .footer-about p {
  font-size: 14px;
  font-family: var(--heading-font);
  font-family: Lexend Deca;
}

.footer .social-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid rgba(var(--default-color-rgb), 0.5);
  font-size: 16px;
  color: rgba(var(--default-color-rgb), 0.5);
  margin-right: 10px;
  transition: 0.3s;
  font-family: Lexend Deca;
}

.footer .social-links a:hover {
  color: var(--primary-color);
  border-color: var(--primary-color);
}

.footer h4 {
  color: var(--tertiary-color);
  font-size: 16px;
  font-weight: bold;
  position: relative;
  padding-bottom: 12px;
}

.footer .footer-links {
  margin-bottom: 30px;
  font-family: Lexend Deca;
}

.footer .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
  font-family: Lexend Deca;
}

.footer .footer-links ul i {
  padding-right: 2px;
  font-size: 12px;
  line-height: 0;
  font-family: Lexend Deca;
}

.footer .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
  font-family: Lexend Deca;
}

.footer .footer-links ul li:first-child {
  padding-top: 0;
}

.footer .footer-links ul a {
  color: var(--default-color);
  display: inline-block;
  line-height: 1;
  font-family: Lexend Deca;
}

.footer .footer-links ul a:hover {
  color: var(--primary-color);
}

.footer .footer-contact p {
  margin-bottom: 5px;
  font-family: Lexend Deca;
}

.footer .copyright {
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: rgba(var(--default-color-rgb), 0.05);
}

.footer .copyright p {
  margin-bottom: 0;
}

.footer .credits {
  margin-top: 6px;
  font-size: 13px;
}

/*--------------------------------------------------------------
  # Home Page
  --------------------------------------------------------------*/
/* Hero Section - Home Page
  ------------------------------*/
.hero {
  --default-color: #ffffff;
  --default-color-rgb: 255, 255, 255;
  --background-color: #000000;
  --background-color-rgb: 0, 0, 0;
  width: 100%;
  min-height: 100vh;
  position: relative;
  padding: 80px 0 80px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero img {
  position: absolute;
  inset: 0;
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  z-index: 1;
}

.hero:before {
  content: "";
  background: rgba(var(--background-color-rgb), 0.5);
  position: absolute;
  inset: 0;
  z-index: 2;
}

.hero .container {
  position: relative;
  z-index: 3;
}

.hero h2 {
  color: var(--contrast-color);
  margin: 0;
  font-family: Lexend Deca;
  font-size: 55px;
  font-style: normal;
  font-weight: 700;
  line-height: 64px; /* 128% */
}

.hero p {
  margin: 16px 0 0 0;
  color: #f5f5f5;
  font-size: 18px;
  font-family: Lexend Deca;
  font-weight: 400;
  line-height: 27px;
  word-wrap: break-word;
}

.hero .get-early-access {
  margin-top: 20px;
  padding: 10px;
  border-radius: 7px;
  background: #fff;
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.1);
  font-family: Lexend Deca;
}
.hero .btn-get-access {
  font-family: Lexend Deca;
  margin-top: 5px;
  background: var(--primary-color);
  border: none;
  height: 56px;
  width: 100%;
}
.hero .btn-get-access:hover {
  background: var(--tertiary-color);
}
.hero .get-early-access .form-control {
  border: none;
}

.hero .get-early-access .form-control:active,
.hero .get-early-access .form-control:focus {
  outline: none;
  box-shadow: none;
}

@media (max-width: 768px) {
  .hero h2 {
    font-size: 32px;
  }

  .hero p {
    font-size: 18px;
  }
}

/* sections Section - Home Page
  ------------------------------*/
.sections .sections-item {
  color: rgba(var(--default-color-rgb), 0.8);
}

.sections .sections-item + .sections-item {
  margin-top: 100px;
}

@media (max-width: 768px) {
  .sections .sections-item + .sections-item {
    margin-top: 40px;
  }
}

.sections .sections-item h3 {
  font-weight: 700;
  font-size: 26px;
}

.sections .sections-item .btn-get-started {
  background-color: transparent;
  color: #5468e7;
  width: fit-content;
}

.sections .sections-item .btn-get-started:hover {
  font-weight: 700;
  padding: -10px;
}

.sections .sections-item ul {
  list-style: none;
  padding: 0;
}

.sections .sections-item ul li {
  padding-bottom: 10px;
  display: flex;
  align-items: flex-start;
}

.sections .sections-item ul li:last-child {
  padding-bottom: 0;
}

.sections .sections-item ul i {
  font-size: 20px;
  padding-right: 4px;
  color: var(--primary-color);
}

.sections .sections-item img {
  border: 6px solid var(--background-color);
  box-shadow: 0 15px 30px -10px rgba(0, 0, 0, 0.1);
}

.sections .sections-item .sections-img-bg {
  position: relative;
  min-height: 500px;
}

@media (max-width: 568px) {
  .sections .sections-item .sections-img-bg {
    min-height: 300px;
  }
}

.sections .sections-item .sections-img-bg img {
  position: absolute;
  inset: 0;
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.sections .sections-item .image-stack {
  display: grid;
  position: relative;
  grid-template-columns: repeat(12, 1fr);
}

.sections .sections-item .image-stack .stack-1 {
  grid-column: 3/-1;
  grid-row: 1;
  width: 100%;
  z-index: 1;
}
.sections .sections-item .image-stack .stack-2 {
  grid-row: 1;
  grid-column: 9 / -1;
  margin-top: 120%;
  width: 80%;
  z-index: 2;
  border: none;
}
.sections .sections-item .image-stack .stack-3 {
  grid-row: 1;
  grid-column: 9 / -1;
  margin-top: 160%;
  width: 80%;
  z-index: 2;
  border: none;
}

@media (max-width: 568px) {
  .sections .sections-item .image-stack {
    display: grid;
    position: relative;
    grid-template-columns: repeat(12, 1fr);
  }

  .sections .sections-item .image-stack .stack-1 {
    grid-column: 4/-1;
    grid-row: 1;
    width: 100%;
    z-index: 1;
  }
  .sections .sections-item .image-stack .stack-2 {
    grid-row: 1;
    grid-column: 9 / -1;
    margin-top: 10%;
    width: 80%;
    z-index: 2;
    border: none;
  }
  .sections .sections-item .image-stack .stack-3 {
    grid-row: 1;
    grid-column: 9 / -1;
    margin-top: 50%;
    width: 80%;

    z-index: 2;
    border: none;
  }
}

.sections .sections-item .image-stack2 {
  display: grid;
  position: relative;
  grid-template-columns: repeat(12, 1fr);
}

.sections .sections-item .image-stack2 .stack-1 {
  grid-column: 1/-1;
  grid-row: 1;
  width: 100%;
  z-index: 1;
}
.sections .sections-item .image-stack2 .stack-2 {
  grid-row: 1;
  grid-column: 2 / 6;
  margin-top: 140%;
  width: 100%;
  z-index: 2;
  border: none;
}
.sections .sections-item .image-stack2 .stack-3 {
  grid-row: 1;
  grid-column: 2 / 6;
  margin-top: 245%;
  width: 100%;
  z-index: 2;
  border: none;
}
.sections .sections-item .image-stack2 .stack-4 {
  grid-row: 1;
  grid-column: 7 / 12;
  margin-top: 20%;
  width: 100%;
  z-index: 2;
  border: none;
}

.card {
  display: flex;
  width: 367px;
  min-width: 260px;
  max-width: 367px;
  padding: 44px 33px;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  background: #fff;
  box-shadow: 0px 16px 24px 0px rgba(118, 118, 178, 0.24);
}

.card .card-body p {
  color: rgba(35, 35, 64, 0.9);

  /* Paragraph/Desktop */
  font-family: Lexend Deca;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px; /* 150% */
}

.card-title h1 {
  color: var(seondary-color);
  font-family: Lexend Deca;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: 64px;
  margin-bottom: 120px;
}
@media (max-width: 568px) {
  .card-title h1{
    font-size: 32px;
  }
}
